*.DS_Store

build/*

*.pyc

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
test/tests
src/kallisto
src/*.a
CTestTestfile.cmake
*~
*.orig
debug/
release/
.vscode/
ext/htslib/src/htslib-stamp
ext/htslib/tmp/
ext/bifrost/tmp/
ext/bifrost/build/
ext/bifrost/src/bifrost-stamp/
.snakemake
*.swp
*.swo

ext/zlib-ng/src/
ext/zlib-ng/build/
ext/zlib-ng/tmp/
src/.Rhistory
